[Unit]
Description=Monit Exporter
After=network.target

[Service]
User=root
ExecStart=/usr/local/go/bin/monit_exporter
StandardOutput=file:/var/log/monit_exporter.log
StandardError=file:/var/log/monit_exporter.log

StartLimitInterval=5
StartLimitBurst=10
TimeoutStopSec=1
Restart=unless-stopped
RestartSec=120

[Install]
WantedBy=multi-user.target